NODE_ENV=development
PORT=3000


DB_HOST=localhost
DB_PORT=3306
DB_USER=payments
DB_PASS=payments
DB_NAME=payments


REDIS_HOST=localhost
REDIS_PORT=6379


# Asaas
ASAAS_API_KEY=your_asaas_token_here
ASAAS_BASE_URL=https://www.asaas.com/api/v3