NODE_ENV=development
PORT=3000


# Use DB_HOST=db when running inside docker-compose
DB_HOST=localhost
DB_PORT=3306
DB_USER=payments
DB_PASS=payments
DB_NAME=payments


# Use REDIS_HOST=redis when running inside docker-compose
REDIS_HOST=localhost
REDIS_PORT=6379

# Auth
AUTH_TOKEN_SECRET=super-secret-key
AUTH_TOKEN_TTL=3600


# Swagger basic auth (required in production to access /docs)
SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=changeme


# Asaas
ASAAS_API_KEY=your_asaas_token_here
ASAAS_BASE_URL=https://www.asaas.com/api/v3

# Mailchimp/Mandrill Email Configuration (Priority: Mailchimp > SendGrid > Nodemailer)
MAILCHIMP_API_KEY=your-mandrill-api-key
MAILCHIMP_FROM_EMAIL=email@minhaaulaoficial.com.br
MAILCHIMP_FROM_NAME=MAILDRILL
